* {
  box-sizing: border-box;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  padding: 1rem 0.5rem;
}

body[data-theme='dark'] {
  background: #121212;
  color: #ccc;
}

body[data-theme='dark'] h1 {
  color: #ccc;
}

body[data-theme='dark'] header {
  background: #121212;
  border-bottom: 2px solid #3498db;
}

body[data-theme='dark'] footer {
  background: #121212;
  border-top: 2px solid #3498db;
}

body[data-theme='dark'] [data-id='crumb'] {
  background: #000;
}
