/* Keyboard */
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb
}

:checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #4078c0
}

hr {
  border-bottom-color: #eee;
  height: 1px;
}

/* Details / Summary sections */
details {
  position: relative;
}

summary {
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
}

.heading {
  text-transform: uppercase;
  font-size: 1rem;
}


.pill {
  position: absolute;
  right: 0;
  height: 1.5rem;
  line-height: 1rem;
  min-width: 1.5rem;
  padding: 4px 8px;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  font-size: 0.8rem;
  border-radius: 4px;
}


/* Title and toggle */
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle {
  height: 2rem;
  font-size: 2rem;
  font-style: italic;
  cursor: pointer;
  line-height: 1rem;
}

#toggle.collapsed::before {
  content: "+";
}

#toggle.expanded::before {
  /* this encodes the endash */
  content: "\2013";
}


@media screen and (min-width: 400px) {
  #toggle {
    font-size: 0.8rem;
  }

  #toggle.collapsed::before {
    content: "+  expand all";
  }

  #toggle.expanded::before {
    content: "\2013  collapse all";
  }
}

/* Last modified */
.last-modified {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.last-modified::before {
  content: 'Last modified: ';
}
